<!--Moraju se instalirati i @angular/flex-layout  npm install @angular/flex-layout --save i isto tako @angular/cdk npm install @angular/cdk --save -->

<div class="container-wrapper">
  <!--fxLayout deca su u jednom redu-->
  <div fxLayout="row" class="row">
    <div class="col">1. One</div>
    <div class="col">2. Two</div>
    <div class="col">3. Three</div>
    <div class="col">4. Four</div>
  </div>
  <br>

  <!--fxLayout koji formira sve u kolonama-->
  <div fxLayout="column" class="row">
    <div class="col">1. One</div>
    <div class="col">2. Two</div>
    <div class="col">3. Three</div>
    <div class="col">4. Four</div>
  </div>
  <br>

  <!--fxLayout deca su u jednom redu ali i sa tekstom koji se wrapuje-->
  <div fxLayout="row wrap" class="row">
    <div class="col">1. Lorem ipsum dolor sit amet, ad nec dicunt eirmod, sea no everti delicatissimi. Ullum debet omnesque no est. Ei noluisse
      electram interpretaris eum, sint dolor philosophia nam et. Ne habeo alterum albucius usu, eos iudico iisque an, per
      platonem persequeris in. Ei pro choro disputando dissentiunt.</div>
    <div class="col">2. Two</div>
    <div class="col">3. Three</div>
    <div class="col">4. Four</div>
  </div>
  <br>

  <!--fxLayout deca su u jednom redu ali i sa tekstom koji se wrapuje i unazad prikazano, moze i za column isto-->
  <div fxLayout="row-reverse wrap" class="row">
    <div class="col">1. One</div>
    <div class="col">2. Two</div>
    <div class="col">3. Three</div>
    <div class="col">4. Four</div>
  </div>
  <br>

  <!--fxLayout deca su u jednom redu ali i sa tekstom koji se wrapuje i centrira po x i y osi  center, start end space-around (between)-->
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="row">
    <div class="col">1. One</div>
    <div class="col">2. Two</div>
    <div class="col">3. Three</div>
    <div class="col">4. Four</div>
  </div>
  <br>

  <!--fxLayout deca su u jednom redu ali i sa tekstom koji se wrapuje i centrira po x i y osi  center, start end space-around (between) plus dodati razmak izmedju dece-->
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="1%" class="row">
    <div class="col">1. One</div>
    <div class="col">2. Two</div>
    <div class="col">3. Three</div>
    <div class="col">4. Four</div>
  </div>
  <br>

  <!--fxFlex na deci unutar kontejnera fxLayout-a. Odredjuje ukupnu sirinu deteta, ima jos razlicitih opcija-->
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="1%" class="row">
    <div class="col" fxFlex="24%">Lorem ipsum dolor sit amet, ad nec dicunt eirmod, sea no everti delicatissimi. Ullum debet omnesque no est.</div>
    <div class="col" fxFlex="24%">Lorem ipsum dolor sit amet, ad nec dicunt eirmod, sea no everti delicatissimi. Ullum debet omnesque no est.</div>
    <div class="col" fxFlex="24%">Lorem ipsum dolor sit amet, ad nec dicunt eirmod, sea no everti delicatissimi. Ullum debet omnesque no est.</div>
    <div class="col" fxFlex="24%">Lorem ipsum dolor sit amet, ad nec dicunt eirmod, sea no everti delicatissimi. Ullum debet omnesque no est.r</div>
  </div>
  <br>

  <!--Menjanje redosleda flex elemenata-->
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="1%" class="row">
    <div class="col" fxFlex="24%" fxFlexOrder="3">1. One</div>
    <div class="col" fxFlex="24%" fxFlexOrder="4">2. Two</div>
    <div class="col" fxFlex="24%" fxFlexOrder="1">3. Three</div>
    <div class="col" fxFlex="24%" fxFlexOrder="2">4. Four</div>
  </div>
  <br>

  <!--Pravljenje offset-a za odrednjene elemente. Ne moze da se koristi fxLayoutGap sa fxFlexOffset-->
  <div fxLayout="row" class="row" fxLayoutAlign="center center">
    <div class="col" fxFlex="24%" fxFlexOffset="25%">2. Two with offset</div>
    <div class="col" fxFlex="24%" fxFlexOffset="1%">3. Three</div>
    <div class="col" fxFlex="24%" fxFlexOffset="1%">4. Four</div>
  </div>
  <br>

  <!--Responsive prikazivanje skrivanje i sve ostalo, sve se moze dodati na bilo koji atribut-->
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center start" fxLayoutGap="1%"
    class="row" fxHide fxShow.md fxShow.xs>
    <div class="col" fxFlex="24%" fxFlexOrder="3">1. One for hidingggggg ggggggggggggg</div>
    <div class="col" fxFlex="24%" fxFlexOrder="4">2. Two for hiding</div>
    <div class="col" fxFlex="24%" fxFlexOrder="1">3. Three for hiding</div>
    <div class="col" fxFlex="24%" fxFlexOrder="2">4. Four for hiding</div>
  </div>
  <br>
</div>



<div class="container-wrapper">
  <h1>Jos jedna proba</h1>

  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" class="row">
    <div fxFlex="15%" class="col">Item 1</div>
    <div fxFlex="30%" class="col">Item 2</div>
    <div fxFlex="15%" class="col">Item 3</div>
  </div>
  <br>

  <div class="row" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="40%" fxFlexOffset="20%" class="col">Item 1</div>
    <div fxFlex="15%" fxFlexOffset="10px" class="col">Item 2</div>
  </div>
  <br>

  <div class="row" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="1%" fxLayoutAlign="start">
    <div class="col" fxFlex="49%" fxFlex.ld-md="100%">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="2%">
        <div fxFlex="100%">
          <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutAlign="start" fxLayoutGap="1%">
            <div fxFlex="20%">
              <label for="firstName">First Name:</label>
            </div>
            <div fxFlex="79%">
              <input type="text" name="firstName" placeholder="first name here:" style="width:100%;">
            </div>
          </div>
        </div>
        
        <div fxFlex="100%">
          <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutAlign="start" fxLayoutGap="1%">
            <div fxFlex="20%">
              <label for="lastName">Last Name:</label>
            </div>
            <div fxFlex="79%">
              <input type="text" name="lastName" placeholder="last name here:" style="width:100%;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col" fxFlex="49%" fxFlex.xs="100%">
      This is the right part of the grid.
    </div>

  </div>
</div>